@import '../_mixins/animation';
@import '../_mixins/keyframes';
@import '../_mixins/transition';

@import '../_utilities/variables';
.font-icon-container{
  margin-top: 50px;
  position: relative;
  display: inline-block;
  text-align: center;

  .font-icon{
    //padding: 0 10px;
    position: relative;
    bottom: 0;
    text-decoration: none;
    border-radius: 50%;
    padding: 10px;

    outline: none;
    color: $fontColor;

    //bottom: 0px;
    @include transition(color .5s ease 0s);

    &:hover{
      color: #d4b2b2;
      //background: green;
    }
    @for $i from 1 through 4 {
      &.icon-#{$i} {
        bottom: 50px;
        opacity: 0;
        @include animation(.2s * ($i - 1),.7s,ease-in-out, dropIcon)
      }
    }
  }
}


@include keyframes(dropIcon){
  0%{
    bottom: 25px;
    opacity: 0;
  }
  100%{
    bottom: 0px;
    opacity: 1;
  }
}