@import "../_utilities/variables";
@import "../_mixins/keyframes";

.title{
  margin-bottom: 20px;
  font-size: 44px;
}

.sub-head{
  margin-bottom: 15px;
}

.project-title{
  position: relative;
  bottom: -190px;
  left: 59px;
  margin-bottom: 0;
  font-size: 64px;
  @include animation(0, .9s, ease-out, dropHeader);
}

.project-sub-head {
  position: relative;
  bottom: -210px;
  left: 75px;
  font-size: 20px;
  @include animation(0, .9s, ease-out, dropHeader);
}

@include keyframes(dropHeader){
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fuschia-header{
  background: url("http://res.cloudinary.com/dhro0fkhc/image/upload/v1452819730/45degreee_fabric_myh2m6.png") center;
  height: 350px;

  *{
    margin-top: 0;
    color: $fontColor;
  }
}


.open-arms-header{
  background: url("http://res.cloudinary.com/dhro0fkhc/image/upload/v1452814059/open_arms_building.jpg") center;
  height: 350px;
  background-size: cover;

  *{
    margin-top: 0;
    color: $primaryColor;
  }
}
