.section {
  margin-bottom: 25px;
}

.title{
  margin-bottom: 20px;
  font-size: 44px;
}

.project-section-title {
  margin-top: 0px;
  font-size: 36px;
  border-bottom: 2px solid #423434;
}

.sub-head{
  margin-bottom: 15px;
}

.school{
  font-size: 20px;
  font-weight: 500;
}
