@mixin burger($firstColor, $secondColor){
  .burger {
    display: inline-block;
    float: right;
    padding-right: 20px;
    width: 40px;
    height: 40px;
    position: relative;
    margin: 30px auto;
    z-index: 3;

    cursor: pointer;

    @include desktop {

      display: none;

    }
    .burger-elem {
      display: block;
      position: absolute;
      left: 0;
      height: 4px;
      width: 40px;
      background-color: $firstColor;
      border-radius: 1px;
      opacity: 1;

      &.menu1{
        @include transitionTransform(.5s, background-color, .5s);
        margin-top: 3px;
        &.open{
          @include transform(rotate(45deg));
          transform-origin: bottom left;
          background-color: $secondColor;

        }

        &.closed{
          @include transform(rotate(0deg));
          transform-origin: bottom left;
        }

      }

      &.menu2{
        top: 18px;
        @include transition(opacity, .5s, ease-out, 0s);
        &.open{
          opacity: 0;
        }
      }

      &.menu3{
        @include transitionTransform(.5s, background-color, .5s);
        transform-origin: top left;
        top: 36px;
        margin-top: -3px;
        &.open{

          @include transform(rotate(-45deg));
          transform-origin: top left;
          background-color: $secondColor;
        }
      }

    }

  }
}
