@mixin slide-out-links($color){
  .sliding-middle-out {
    text-decoration: none;
    color: $color;
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    padding-top: 3px;

    &:after{
      content: '';
      display: block;
      margin: auto;
      height: 2px;
      width: 0px;
      cursor: pointer;
      background: transparent;
      transition: width .5s ease, background-color .5s ease;
    }

    &:hover:after{
      width: 100%;
      background: $color;

    }
    //
    // &.mobile{
    //   color: $primaryColor;
    //   &:hover:after{
    //     width: 100%;
    //     background: $primaryColor;
    //
    //   }
    // }
  }
}
