@import 'clearfix';
@import 'responsive';
@import 'transition';
@import '../_utilities/variables';
@import 'transition';
@import 'responsive';
@import './hamburgerMenu';

@mixin banner($firstColor, $secondColor){
  .main-banner{

    @include hamburger($firstColor, $secondColor);

    @extend %clearFix;

    *{
      display: inline-block;
      //@extend %clearFix;

    }

    .banner-svg-container{
      float: left;
      position: relative;
      height: 110px;
    }
    .banner-svg{
      padding-top: 10px;
      padding-left: 10px;
      //float: left;
      position: absolute;
      z-index: 30;
      width: 100px;
      //fill: purple;
      fill: $firstColor;

      *{
        stroke: $firstColor;
      }
      @include transition(fill .5s ease-in);

      *{
        @include transition(stroke .5s ease-in);

      }
      &.open{
        fill: $primaryColor;
        @include desktop{
          fill: $firstColor;

        }
        * {
          stroke: $primaryColor;
          @include desktop{
            stroke: $firstColor;
          }
        }
      }
    }

    .banner-link-container{
      float: right;

      @include tablet{
        display: none;
      }
      @include mobile{
        display: none;
      }
      .banner-link{
        height: 0px;
        margin: 0;
        padding-right: 10px;
        padding-left: 10px;
        background-color: $firstColor;
        @include transition(height .5s);
        .slide-up-link{
          font-size: 18px;
          padding-top: 25px;
          text-decoration: none;
          color: $firstColor;
          @include transition(color .5s);
        }
        &:hover{
          height: 60px;
          .slide-up-link{
            color: $secondColor;
          }
        }
      }
    }
  }
}
