.row{
  position: relative;
  width: 100%;
  display: flex;
  &:before, &:before{
    display: table;
  content: " ";
  }
  // padding-right: 10px;
}

%col {
  position: relative;
  min-height: 1px;
  padding: $grid-padding;
  float: left;
  box-sizing: border-box;

}

// @include mobile {
@for $i from 1 to $columns + 1{
  .col-s-#{$i} {
    $percentage: percentage($i / $columns);
    @extend %clearfix;
    @extend %col;
    width: $percentage;
    &.gutter{
      @include calc(width, $percentage, (2 * $grid-margin));
      margin-left: $grid-margin;
      margin-right: $grid-margin;
      // width: (percentage($i/12) - 2);
      // margin: 1%;
    }
    &.margin{
      @include calc(width, $percentage, (2 * $grid-margin));
      margin: $grid-margin;
      // width: (percentage($i/12) - 2);
      // margin: 1%;
    }
  }
}
// }

@include tablet {
  @for $i from 1 to $columns + 1{
    .col-m-#{$i} {
      $percentage: percentage($i / $columns);
      @extend %clearfix;
      @extend %col;
      width: $percentage;
      &.gutter{
        @include calc(width, $percentage, (2 * $grid-margin));
        margin-left: $grid-margin;
        margin-right: $grid-margin;
        // width: (percentage($i/12) - 2);
        // margin: 1%;
      }
      &.margin{
        @include calc(width, $percentage, (2 * $grid-margin));
        margin: $grid-margin;
        // width: (percentage($i/12) - 2);
        // margin: 1%;
      }
    }
  }
}

@include desktop {
  @for $i from 1 to $columns + 1 {
    .col-l-#{$i} {
      $percentage: percentage($i / $columns);
      @extend %clearfix;
      @extend %col;
      width: $percentage;
      &.gutter{
        @include calc(width, $percentage, (2 * $grid-margin));
        margin-left: $grid-margin;
        margin-right: $grid-margin;
        // width: (percentage($i/12) - 2);
        // margin: 1%;
      }
      &.margin{
        @include calc(width, $percentage, (2 * $grid-margin));
        margin: $grid-margin;
        // width: (percentage($i/12) - 2);
        // margin: 1%;
      }
    }
  }
}
