.contact-container{
  margin-top: 40px;
  .contact-text{
    margin: 5px 0;
    font-size: 1.5em;
    display: block;

  }
  //.icon-center-container{
  //  margin-top: 0px;
  //  .font-icon-container{
  //    margin-top: 10px;
  //  }
  //}
}