@import '../_utilities/variables';
@import '../_mixins/keyframes';
@import '../_mixins/animation';
@import '../_mixins/transition';
@import '../_mixins/responsive';

.paragraph-row{
  margin: 10px 0;
}

.school{
  font-size: 20px;
  font-weight: 500;
}

//.index-container{
//  background: url("http://res.cloudinary.com/dhro0fkhc/image/upload/v1453958304/IMG_0210_uduxrw.png") $primaryColor top left no-repeat;
//  background-size: cover;
//}

.index-content{
  text-align: center;
  margin-top: 50px;
  //max-height: 200px;
  $height: 200px;
  $top: -195px;

  $height-med: 150px;
  $top-med: -146px;

  $height-sm: 50px;
  $top-sm: -48px;

  $bottom: 0;


  .png-container{
    height: $height;
    position: relative;
    overflow: hidden;

    @include tablet{
      height: $height-med;
    }
    @include mobile{
      height: $height-sm;
    }

    * {
      height: 2 * $height;
      position: relative;
      padding: 0px 20px;

      @include tablet{
        height: 2 * $height-med;
      }
      @include mobile{
        padding: 0 5px;
        height: 2 * $height-sm;
      }
    }

    .png-hi{
      //left: 10%;
      top: $top;
      @include tablet{
        top: $top-med;
      }
      @include mobile{
        top: $top-sm;
      }

      @include transition(top .5s);
      &:hover{
        top: $bottom;
      }
      &.png-image-hover{
        top: $bottom;
      }
    }
    .png-im{
      //left: 30%;
      top: $bottom;
      @include transition(top .5s);
      &:hover{
        top: $top;
        @include tablet{
          top: $top-med;
        }
        @include mobile{
          top: $top-sm;
        }

      }
      &.png-image-hover{
        top: $top;
        @include tablet{
          top: $top-med;
        }
        @include mobile{
          top: $top-sm;
        }

      }

    }
    .png-aron{
      //left: 55%;
      top: $top;
      @include tablet{
        top: $top-med;
      }
      @include mobile{
        top: $top-sm;
      }
      @include transition(top .5s);
      &:hover{
        top: $bottom;
      }
      &.png-image-hover{
        top: $bottom;
      }
    }
  }

  .index-description{
    margin-top: 50px;
    *{
      font-weight: 200;
      font-size: 24px;
      @include tablet{
        font-size: 20px;
      }
      @include mobile{
        font-size: 16px;
      }
    }
  }

}

.icon-center-container{
  //bottom: 25px;
  margin-top: 5%;
  position: relative;
  text-align: center;
}

@include keyframes(pngUp){
  0%{
    top: 0px;
  },
  100%{
    top: -190px;
  }
}

@include keyframes(pngDown){
  0%{
    top: -190px;
  },
100%{
  top: 0px;
}
}