<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/vendors/normalize.css">
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="/vendors/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
</head>
<body>
<div class="hidden">
    <header class="section fuschia-header">
        <h1 class="project-title">Fuschia</h1>
        <p class="project-sub-head">A site for buying and selling used items of clothing</p>
    </header>
    <div class="container">
        <div class="section">
            <h1 class="project-section-title">Problem: </h1>
            <p class="section-text">
                I love used clothing. As someone who changes their wardrobe frequently, buying, selling, and trading items of clothing
                is an important part of how I think about fashion. Consignment and used clothing stores are great places to find unique items,
                but buying clothing from friends or neighbors is often a hassle.
            </p>
        </div>
        <div class="section">
            <h1 class="project-section-title">Solution: </h1>
            <p class="section-text">
                I developed a web application that makes buying and selling used items of clothing a little bit easier. Users can
                upload an image and description of the item of clothing they wish to sell.  Users looking to buy an item can search by
                size, type, gender, or condition, and send an email to the seller via a built in email service.
            </p>
            <a class="sliding-middle-out project-link-left" href="https://github.com/open-arms-zeta/open_arms_app"><i class="fa fa-github"></i> Project code
                can be accessed here</a>
            <a class="sliding-middle-out project-link-right" href="http://fuschia.herokuapp.com/"> Check out the website here</a>
        </div>
        <div class="section">
            <img src="http://res.cloudinary.com/dhro0fkhc/image/upload/v1452819190/fuschia_login.png" width="100%" height="auto">
        </div>
        <div class="section">
            <img src="http://res.cloudinary.com/dhro0fkhc/image/upload/v1452819097/fuschia_mainpage.png" width="100%" height="auto">
        </div>
        <div class="section">
            <img src="http://res.cloudinary.com/dhro0fkhc/image/upload/v1452819096/fuschia_myitems.png" width="100%" height="auto">
        </div>
        <div class="section">
            <img src="http://res.cloudinary.com/dhro0fkhc/image/upload/v1452819096/fuschia_additem.png" width="100%" height="auto">
        </div>

    </div>
</div>
</body>
</html>