<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Aron Chelliah Thomas</title>
    <!-- <link rel="stylesheet" href="/vendors/normalize.css"> -->
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/styles/main.css">

    <script type="text/javascript" src="/vendors/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
</head>
<body class="container">
    <!-- <div class='row'>
      <div style='background-color: red; border: 1px green solid' class='col-l-3 col-m-6 col-s-12'>

      </div>
    </div> -->
    <!-- <img src="http://www.fillmurray.com/200/300" class='col-l-3 col-m-6 col-s-12'>
    <img src="http://www.fillmurray.com/200/400" class='col-l-3 col-m-6 col-s-12'>
    <img src="http://www.fillmurray.com/200/500" class='col-l-3 col-m-6 col-s-12'>
    <img src="http://www.fillmurray.com/200/300" class='col-l-3 col-m-6 col-s-12'>
    <img src="http://www.fillmurray.com/200/500" class='col-l-3 col-m-6 col-s-12'>
    <img src="http://www.fillmurray.com/200/200" class='col-l-3 col-m-6 col-s-12'>
    <img src="http://www.fillmurray.com/200/300" class='col-l-3 col-m-6 col-s-12'>
    <img src="http://www.fillmurray.com/200/600" class='col-l-3 col-m-6 col-s-12'> -->
    <div class='col-l-6 col-m-12 col-s-12'>
      lakjsdlkdsf
    </div>
    <div class='col-l-3 col-m-12 col-s-12'>

    </div>
    <div class='col-l-3 col-m-12 col-s-12'>
      lakjsdlkdsf
    </div>
    <div style='background-color: red; height: 200px; border: 1px green solid' class='col-l-3 col-m-6 col-s-12 margin'>
      sup
    </div>
    <div style='background-color: red; height: 200px; border: 1px green solid' class='col-l-3 col-m-6 col-s-12 margin'>
      sup
    </div>
    <div style='background-color: red; height: 200px; border: 1px green solid' class='col-l-3 col-m-6 col-s-12 margin'>
      sup
    </div>
    <div style='background-color: red; height: 200px; border: 1px green solid' class='col-l-3 col-m-6 col-s-12 margin'>
      sup
    </div>
    <div style='background-color: red; height: 200px; border: 1px green solid' class='col-l-3 col-m-6 col-s-12 margin'>
      sup
    </div>
    <div style='background-color: red; height: 200px; border: 1px green solid' class='col-l-3 col-m-6 col-s-12 margin'>
      sup
    </div>
    <div style='background-color: red; height: 200px; border: 1px green solid' class='col-l-3 col-m-6 col-s-12 margin'>
      sup
    </div>
    <div style='background-color: red; height: 200px; border: 1px green solid' class='col-l-3 col-m-6 col-s-12 margin'>
      sup
    </div>
    <div style='background-color: red; height: 200px; border: 1px green solid' class='col-l-3 col-m-6 col-s-12 margin'>
      sup
    </div>

    <div style='background-color: red; height: 200px; border: 1px green solid' class='col-l-3 col-m-6 col-s-12 margin'>
      sup
    </div>

</body>
</html>
